PORT=8000
MONGO_URL=
JWT_SECRET=R9cnSXk2f7jCI5jXTiKsJ19PbOmkun1sy46m+q18EXo

# VITE_SERVER_URL=https://chat-app-fyek.onrender.com
# CLIENT_URL=https://chat-app-fyek.onrender.com
VITE_SERVER_URL=http://localhost:8000
CLIENT_URL=http://localhost:3000